h1 {
    text-align: center;
}

img {
    display: block;
    height: 150px;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: lightgray;
    padding: 10px;
}